
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Creative User Cards hover Effects</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="cards">
      <div class="imgbx">
        <img src=".\assets\pavi.jpg"width="100%">
      </div>
      <div class="content">
        <div class="details">
          <h2>JAYASHREE<br><span>Manager Of Restaurant</span></h2>
          <ul class="social_icons">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"
               aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/?lang=en-in"><i class="fa fa-twitter" 
              aria-hidden="true"></i> </a></li>
            <li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin" 
              aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"
               aria-hidden="true"></i></a></li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</body>

</html>