<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  

</head>

<body>
  <div class="wrapper">
    <form class="form">
      <div class="pageTitle title">Contact Us </div>
      <input type="text" class="name formEntry" placeholder="Name..." name="Name" [(ngModel)]="Name">
      <input type="email" class="email formEntry" placeholder="Email..." name="email" [(ngModel)]="email">
      <textarea class="message formEntry" placeholder="Message.." name="message" [(ngModel)]="message" ></textarea>
      <button class="submit formEntry" (click)="contact()">Submit</button>
    </form>
  </div>
</body>

</html>