<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="eidth-device-width,initial-scale=1.0">
    <title>food page design</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" >

                        <header align="left">
                            <ul class="nav">
                                <li><a title="contact Us"href="contact-us"><i class="fa fa-id-badge navbar__icon"></i> contactUs</a></li>


                            </ul>
                        </header><br>
                    </div>

                </td>
            </tr>
        </thead>
        <tr>
            <td>
                <div>
                    <img src=".\assets\th (6).jpeg"><br>

                </div>
            </td>
            <td>
                <div class="content">
                    <h1>Best food for your taste</h1>
                    <p>Customer satisfaction is the key to success for any business. In a restaurant, the traditional
                        hand-waving method for calling services is inefficient often leading to many complaints.<br><br>
                        The Restaurant
                        Management System increases operational efficiency through use of an internal wired
                        communications
                        system. </p>

                </div>
            </td>



        </tr>

        <tfoot align="right">
            <p>Burger</p>
        </tfoot>

    </table>
</body>

</html>