<body><h3 align="center"> View Restaurant Details</h3>
    <!--Display all the details of the restaurant using particular id-->
<div align="center">
    <div>
        <label> <b> Restaurant Name: </b></label> {{restaurant.restaurantName}}<br>
        <label> <b> Owner Name: </b></label> {{restaurant.ownerName}}<br>
    <label> <b> Food type: </b></label> {{restaurant.foodType}}<br>
        <label> <b> Rating: </b></label> {{restaurant.rating}}<br>
        <label> <b> Location: </b></label> {{restaurant.location}}<br>
        <button (click)="View()">Back</button>
    </div>
</div>
</body>